body {
	margin: 0px;
	padding: 0px;
	background-color: black;
}

#page {
	display: block;
	background-repeat: no-repeat;
/*	background-size: contain;
*/	background-position: center;
	width: 1544px;
	height: 843px;
	background-color: #101010;
	overflow: hidden;
	padding: 0px;
}

body > div {
	display: none;
	padding: 0px;
	position: absolute;
	background-color: #222222;
	color: white;
	border-radius: 4px;
}

body > img {
	position: absolute;
}

div > img {
	padding: 10px;
}

p, h1, h2 {
	padding: 10px;
	margin: 0px;
}

h1 {
	color: #8936E0;
}

img.a {
	left: 18px;
	top: 422px;
	width: 127px;
}

div.a {
	left: 25px;
	top: 390px;
}

img.b {
	left: 144px;
	top: 268px;
	width: 169px;
}

div#ba {
	left: 330px;
	top: 250px;
}

div#bb {
	left: 330px;
	top: 530px;	
}

div.b > img { /* img is 200x223 */
	width: 200px;
}

img.c {
	left: 342px;
	top: 357px;
	width: 324px;
}

div.c {
	left: 600px;
	top: 300px;
}

img.d {
	left: 931px;
	top: 238px;
	width: 164px;
}

div.d {
	left: 940px;
	top: 400px;
}

img.e {
	left: 1150px;
	top: 270px;
	width: 377px;
}

div#ea {
	left: 1150px;
	top: 190px;
}

div#eb {
	left: 1150px;
	top: 580px;
}

div.e > img {
	width: 320px;
}

img.f {
	left: 1150px;
	top: 316px;
	width: 142px;
}

div.f {
	left: 1150px;
	top: 580px;
}